# 📁 Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# 📁 React Native Build Artifacts
android/.gradle/
android/app/build/
android/build/
ios/build/
ios/Pods/
ios/Podfile.lock
*.xcworkspace

# 📁 Metro, Babel, TypeScript Cache
.babelrc
.cache/
tmp/
temp/
*.tmp
*.temp
*.tsbuildinfo

# 📁 React Native Packager
.expo/
.expo-shared/
.expo-cache/
*.expo
*.expo-shared
*.expo-cache

# 📁 Watchman, Mac, Linux 등 시스템 파일
.watchmanconfig
.DS_Store
*.swp
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# 📁 Testing
coverage/
jest-cache/
jest-*

# 📁 환경변수
.env
.env.*
!.env.example

# 📱 Emulator / Device artifacts
*.apk
*.apks
*.ipa
*.keystore
*.jks

# 📁 Logs
*.log

# 📁 Misc
*.orig
*.patch
*.rej


*.bin
*.cmake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
build/

# Android/React Native
android/local.properties
android/.gradle/
android/build/
android/app/build/
android/app/.cxx/
